-content_for :title do "Capex User Admin Page" end

%h1 Capex User Admin Page

%table#group_table.table
  %tr
    %th Group
    %th User
    %th Admin
    %th
  -@users_by_group.keys.each do |group_id|
    %tr
      %td= group_with_depth(Group.find_by_id(group_id))
      %td
      %td    
      %td
    - @users_by_group[group_id].each do |user|
      %tr
        %td
        %td
          = user.email
          - unless user.confirmed?
            %i.icon-envelope{style:"color:red;", "data-toggle"=>"tooltip", "title"=>"User has not confirmed account"}
        %td
          -if user.admin
            %i.icon-ok{style:"color:green"}
        %td 
          =link_to(edit_admin_user_path(user), id: "edit_user_#{user.id}_link", class: "btn")  do
            <i class="icon-pencil"></i> Edit
          - warning = "Are you sure that you want to permanently delete the account for '#{user.email}'?"
          = link_to admin_user_path(user), {confirm: warning, method: "delete", id: "delete_user_#{user.id}_button", class: "btn"} do
            <i class="icon-trash"></i> Delete User
            
